<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SwiftOne.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>C7D7D4881D586F9B00D67B19</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C7D7D49C1D586F9C00D67B19</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C7D7D4A71D586F9C00D67B19</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
